@font-face {
  font-family: kozG-EL;
  src: url(../fonts_web/KozGoPro-ExtraLight.otf) format("opentype"); }
@font-face {
  font-family: kozG-H;
  src: url(../fonts_web/KozGoPro-Heavy.otf) format("opentype"); }
@font-face {
  font-family: kozG-L;
  src: url(../fonts_web/KozGoPro-Light.otf) format("opentype"); }
@font-face {
  font-family: kozG-M;
  src: url(../fonts_web/KozGoPro-Medium.otf) format("opentype"); }
@font-face {
  font-family: kozG-R;
  src: url(../fonts_web/KozGoPro-Regular.otf) format("opentype"); }
@font-face {
  font-family: kozG-B;
  src: url(../fonts_web/KozGoPro-Bold.otf) format("opentype"); }
@font-face {
  font-family: kozM-B;
  src: url(../fonts_web/KozMinPro-Bold.otf) format("opentype"); }
@font-face {
  font-family: kozM-EL;
  src: url(../fonts_web/KozMinPro-ExtraLight.otf) format("opentype"); }
@font-face {
  font-family: kozM-M;
  src: url(../fonts_web/KozMinPro-Medium.otf) format("opentype"); }
@font-face {
  font-family: kozM-R;
  src: url(../fonts_web/KozMinPro-Regular.otf) format("opentype"); }
@font-face {
  font-family: kozM-H;
  src: url(../fonts_web/KozMinPro-Heavy.otf) format("opentype"); }
* {
  margin: 0;
  padding: 0; }

.container {
  width: 850px;
  margin: 0 auto;
  overflow: hidden; }

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
  height: 56px;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }
  nav:hover {
    background-color: white; }
  nav h3 {
    text-align: center;
    padding-top: 8px; }
  nav .ham {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 35px;
    height: 30px;
    float: right;
    right: 50px;
    top: -40px;
    cursor: pointer; }
    nav .ham .line {
      width: 35px;
      height: 4px;
      position: absolute;
      background-color: #000;
      border-radius: 20%; }
    nav .ham .line1 {
      top: 0;
      right: 0; }
    nav .ham .line2 {
      top: 8px;
      right: 0; }
    nav .ham .line3 {
      top: 16px;
      right: 0; }
    nav .ham .line4 {
      top: 24px;
      right: 0; }

.g-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 25;
  background-color: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  padding-top: 100px;
  display: none; }
  .g-nav .nav-con {
    width: 900px;
    margin: 0 auto; }
    .g-nav .nav-con .nav-img {
      width: 400px;
      margin-left: 70px;
      overflow: hidden;
      height: 424px;
      float: left; }
      .g-nav .nav-con .nav-img .nav-slide {
        position: relative;
        width: 100%; }
        .g-nav .nav-con .nav-img .nav-slide img {
          position: absolute;
          top: 30px;
          left: 0;
          width: 100%;
          display: none; }
    .g-nav .nav-con ul {
      width: 430px;
      padding-bottom: 120px;
      float: left; }
      .g-nav .nav-con ul li {
        list-style-type: none; }
        .g-nav .nav-con ul li a {
          text-decoration: none;
          color: #000;
          font-size: 2.4em;
          line-height: 2;
          -webkit-transition: color .25s ease;
          -moz-transition: color .25s ease;
          -ms-transition: color .25s ease;
          -o-transition: color .25s ease;
          transition: color .25s ease; }
          .g-nav .nav-con ul li a:hover {
            color: rgba(0, 0, 0, 0.6); }
  .g-nav footer {
    width: 100%;
    height: 180px;
    float: left;
    margin-top: 30px; }
    .g-nav footer .sns {
      text-align: center;
      width: 120px;
      margin: 0 auto;
      padding: 10px 0; }
      .g-nav footer .sns p {
        padding-bottom: 10px;
        font-size: 10px;
        text-align: center; }
      .g-nav footer .sns .icon {
        float: left;
        width: 40px;
        font-size: 25px;
        color: #000; }
      .g-nav footer .sns #follow {
        padding-top: 0; }
    .g-nav footer #copy {
      text-align: center;
      padding-top: 30px;
      font-size: 10px;
      letter-spacing: 0.2em; }
      .g-nav footer #copy #c {
        font-size: 12px;
        margin-top: 3px; }

header {
  background-color: #888;
  height: 100vh; }
  header .main-visual {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-position: fixed;
    position: relative;
    top: 0; }
    header .main-visual .img-home {
      background-image: url(../img/home_main.jpg);
      background-size: cover;
      height: 100%;
      background-attachment: fixed; }
    header .main-visual .text {
      width: 100%;
      position: absolute;
      bottom: 8%;
      text-align: center; }
      header .main-visual .text h1 {
        font-size: 9em;
        letter-spacing: 0.1em;
        line-height: 100%;
        padding-bottom: 15px;
        color: #fff; }
      header .main-visual .text h2 {
        font-size: 1.2em;
        letter-spacing: 0.2em;
        color: #fff; }

main .msg, main .msg2 {
  height: 100vh;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding-top: 90px;
  box-sizing: border-box;
  letter-spacing: 0.14em;
  line-height: 1.7; }
  main .msg p, main .msg2 p {
    text-shadow: 4px 2px 0 rgba(255, 255, 255, 0.5); }
main .big-com1 {
  height: 100vh;
  overflow: hidden;
  position: relative; }
  main .big-com1 .img-home {
    overflow: hidden;
    height: 100%;
    background-image: url("../img/home_cat.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; }
  main .big-com1 .comment {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 35%;
    color: #fff; }
    main .big-com1 .comment h3 {
      letter-spacing: 0.4em;
      text-shadow: 3px 5px 0 #000;
      font-weight: normal; }
main .small-com1 {
  height: 100vh;
  overflow: hidden;
  position: relative; }
  main .small-com1 .img-home {
    overflow: hidden;
    height: 100%;
    background-image: url("../img/home_bikes.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; }
  main .small-com1 .left-comment {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    box-sizing: border-box;
    padding: 3%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff; }
main .small-com2 {
  height: 100vh;
  overflow: hidden;
  position: relative; }
  main .small-com2 .img-home {
    overflow: hidden;
    height: 100%;
    background-image: url("../img/home_hodou.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; }
  main .small-com2 .right-comment {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    box-sizing: border-box;
    padding: 3%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff; }
main .big-com2 {
  height: 50vh;
  overflow: hidden;
  position: relative; }
  main .big-com2 .img-home {
    overflow: hidden;
    height: 100%;
    background-image: url("../img/home_isetan.jpg");
    background-size: cover;
    background-position: center 10%;
    background-attachment: fixed; }
  main .big-com2 .comment {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 35%;
    color: #fff;
    text-align: center; }
    main .big-com2 .comment h3 {
      letter-spacing: 0.4em;
      text-shadow: 3px 5px 0 #000;
      font-weight: normal; }
main .small-com3 {
  height: 100vh;
  overflow: hidden;
  position: relative; }
  main .small-com3 .img-home {
    overflow: hidden;
    height: 100%;
    width: 30%;
    background-image: url("../img/home_bike.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; }
  main .small-com3 .right-comment {
    position: absolute;
    width: 70%;
    height: 100%;
    right: 0;
    top: 0;
    box-sizing: border-box;
    padding: 3%;
    background-color: black;
    color: #fff; }
main .image {
  padding: 150px 0 100px;
  text-align: center;
  font-size: 0.8em; }
  main .image img {
    width: 500px; }

footer {
  width: 100%;
  height: 180px;
  position: relative; }
  footer h4 {
    position: absolute;
    text-align: center;
    top: 0;
    left: 50%;
    margin-left: -25px;
    color: #fff;
    background-color: #000;
    width: 50px;
    height: 20px;
    font-size: 10px;
    font-weight: normal;
    cursor: pointer; }
    footer h4 a {
      text-decoration: none;
      color: #fff; }
  footer .sns {
    text-align: center;
    width: 120px;
    margin: 0 auto;
    padding: 10px 0; }
    footer .sns #follow {
      padding-bottom: 10px;
      font-size: 10px;
      padding-top: 30px; }
    footer .sns .icon {
      float: left;
      width: 40px;
      font-size: 25px;
      color: #000; }
  footer p {
    text-align: center;
    padding-top: 30px;
    font-size: 10px;
    letter-spacing: 0.2em; }
    footer p #c {
      font-size: 12px;
      margin-top: 3px; }

/*# sourceMappingURL=home.css.map */
