@font-face {
  font-family: kozG-EL;
  src: url(../fonts_web/KozGoPro-ExtraLight.otf) format("opentype"); }
@font-face {
  font-family: kozG-H;
  src: url(../fonts_web/KozGoPro-Heavy.otf) format("opentype"); }
@font-face {
  font-family: kozG-L;
  src: url(../fonts_web/KozGoPro-Light.otf) format("opentype"); }
@font-face {
  font-family: kozG-M;
  src: url(../fonts_web/KozGoPro-Medium.otf) format("opentype"); }
@font-face {
  font-family: kozG-R;
  src: url(../fonts_web/KozGoPro-Regular.otf) format("opentype"); }
@font-face {
  font-family: kozG-B;
  src: url(../fonts_web/KozGoPro-Bold.otf) format("opentype"); }
@font-face {
  font-family: kozM-B;
  src: url(../fonts_web/KozMinPro-Bold.otf) format("opentype"); }
@font-face {
  font-family: kozM-EL;
  src: url(../fonts_web/KozMinPro-ExtraLight.otf) format("opentype"); }
@font-face {
  font-family: kozM-M;
  src: url(../fonts_web/KozMinPro-Medium.otf) format("opentype"); }
@font-face {
  font-family: kozM-R;
  src: url(../fonts_web/KozMinPro-Regular.otf) format("opentype"); }
@font-face {
  font-family: kozM-H;
  src: url(../fonts_web/KozMinPro-Heavy.otf) format("opentype"); }
* {
  margin: 0;
  padding: 0; }

.container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden; }

body {
  background-size: 100%;
  background-position: center center;
  font-family: KozG-R; }

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
  height: 56px;
  background-color: #fff;
  box-shadow: 0px 0px 1px 1px #888; }
  nav h3 {
    text-align: center;
    padding-top: 8px; }
  nav .ham {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 35px;
    height: 30px;
    float: right;
    right: 50px;
    top: -40px;
    cursor: pointer; }
    nav .ham .line {
      width: 35px;
      height: 4px;
      position: absolute;
      background-color: #000;
      border-radius: 20%; }
    nav .ham .line1 {
      top: 0;
      right: 0; }
    nav .ham .line2 {
      top: 8px;
      right: 0; }
    nav .ham .line3 {
      top: 16px;
      right: 0; }
    nav .ham .line4 {
      top: 24px;
      right: 0; }

.g-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 25;
  background-color: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  padding-top: 100px;
  display: none; }
  .g-nav .nav-con {
    width: 900px;
    margin: 0 auto; }
    .g-nav .nav-con .nav-img {
      width: 400px;
      margin-left: 70px;
      overflow: hidden;
      height: 424px;
      float: left; }
      .g-nav .nav-con .nav-img .nav-slide {
        position: relative;
        width: 100%; }
        .g-nav .nav-con .nav-img .nav-slide img {
          position: absolute;
          top: 30px;
          left: 0;
          width: 100%;
          display: none; }
    .g-nav .nav-con ul {
      width: 430px;
      padding-bottom: 120px;
      float: left; }
      .g-nav .nav-con ul li {
        list-style-type: none; }
        .g-nav .nav-con ul li a {
          text-decoration: none;
          color: #000;
          font-size: 2.4em;
          line-height: 2;
          -webkit-transition: color .25s ease;
          -moz-transition: color .25s ease;
          -ms-transition: color .25s ease;
          -o-transition: color .25s ease;
          transition: color .25s ease; }
          .g-nav .nav-con ul li a:hover {
            color: rgba(0, 0, 0, 0.6); }
  .g-nav footer {
    width: 100%;
    height: 180px;
    float: left;
    margin-top: 30px; }
    .g-nav footer .sns {
      text-align: center;
      width: 120px;
      margin: 0 auto;
      padding: 10px 0; }
      .g-nav footer .sns p {
        padding-bottom: 10px;
        font-size: 10px;
        text-align: center; }
      .g-nav footer .sns .icon {
        float: left;
        width: 40px;
        font-size: 25px;
        color: #000; }
      .g-nav footer .sns #follow {
        padding-top: 0; }
    .g-nav footer #copy {
      text-align: center;
      font-size: 10px;
      letter-spacing: 0.2em; }
      .g-nav footer #copy #c {
        font-size: 12px;
        margin-top: 3px; }

main .youth-hero {
  width: 100%;
  height: auto;
  margin-top: 56px; }
  main .youth-hero img {
    width: 100%; }
main h1 {
  text-align: center;
  margin-top: 40px; }
main p {
  text-align: center;
  color: #888;
  margin-bottom: 60px; }
main .container p {
  text-align: left;
  color: #000;
  letter-spacing: 0.01em;
  line-height: 1.8;
  font-size: 0.9em; }
  main .container p a {
    text-decoration: none; }
main .container .share {
  height: 100px;
  overflow: hidden;
  margin-bottom: 40px;
  text-align: center; }
main .container h3 {
  text-align: center;
  margin: 0 auto;
  width: 700px;
  font-size: 1.4em;
  margin-bottom: 50px; }

footer {
  width: 100%;
  height: 180px;
  position: relative; }
  footer h4 {
    position: absolute;
    text-align: center;
    top: 0;
    left: 50%;
    margin-left: -25px;
    color: #fff;
    background-color: #000;
    width: 50px;
    height: 20px;
    font-size: 10px;
    font-weight: normal;
    cursor: pointer; }
    footer h4 a {
      text-decoration: none;
      color: #fff; }
  footer .sns {
    text-align: center;
    width: 120px;
    margin: 0 auto;
    padding: 10px 0; }
    footer .sns p {
      padding-bottom: 10px; }
    footer .sns .icon {
      float: left;
      width: 40px;
      font-size: 25px;
      color: #000; }
  footer p {
    text-align: center;
    padding-top: 40px;
    font-size: 10px;
    letter-spacing: 0.2em; }
    footer p #c {
      font-size: 12px;
      margin-top: 3px; }

/*# sourceMappingURL=youth_article.css.map */
