@font-face {
  font-family: kozG-EL;
  src: url(../fonts_web/KozGoPro-ExtraLight.otf) format("opentype"); }
@font-face {
  font-family: kozG-H;
  src: url(../fonts_web/KozGoPro-Heavy.otf) format("opentype"); }
@font-face {
  font-family: kozG-L;
  src: url(../fonts_web/KozGoPro-Light.otf) format("opentype"); }
@font-face {
  font-family: kozG-M;
  src: url(../fonts_web/KozGoPro-Medium.otf) format("opentype"); }
@font-face {
  font-family: kozG-R;
  src: url(../fonts_web/KozGoPro-Regular.otf) format("opentype"); }
@font-face {
  font-family: kozG-B;
  src: url(../fonts_web/KozGoPro-Bold.otf) format("opentype"); }
@font-face {
  font-family: kozM-B;
  src: url(../fonts_web/KozMinPro-Bold.otf) format("opentype"); }
@font-face {
  font-family: kozM-EL;
  src: url(../fonts_web/KozMinPro-ExtraLight.otf) format("opentype"); }
@font-face {
  font-family: kozM-M;
  src: url(../fonts_web/KozMinPro-Medium.otf) format("opentype"); }
@font-face {
  font-family: kozM-R;
  src: url(../fonts_web/KozMinPro-Regular.otf) format("opentype"); }
@font-face {
  font-family: kozM-H;
  src: url(../fonts_web/KozMinPro-Heavy.otf) format("opentype"); }
* {
  margin: 0;
  padding: 0; }

.container {
  width: 700px;
  margin: 0 auto;
  overflow: hidden; }

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
  height: 56px;
  background-color: rgba(255, 255, 255, 0); }
  nav h3 {
    text-align: center;
    padding-top: 8px; }
  nav .ham {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 35px;
    height: 30px;
    float: right;
    right: 50px;
    top: -40px;
    cursor: pointer; }
    nav .ham .line {
      width: 35px;
      height: 4px;
      position: absolute;
      background-color: #000;
      border-radius: 20%; }
    nav .ham .line1 {
      top: 0;
      right: 0; }
    nav .ham .line2 {
      top: 8px;
      right: 0; }
    nav .ham .line3 {
      top: 16px;
      right: 0; }
    nav .ham .line4 {
      top: 24px;
      right: 0; }

.g-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 25;
  background-color: rgba(255, 255, 255, 0.95);
  box-sizing: border-box;
  padding-top: 100px;
  display: none; }
  .g-nav .nav-con {
    width: 900px;
    margin: 0 auto; }
    .g-nav .nav-con .nav-img {
      width: 400px;
      margin-left: 70px;
      overflow: hidden;
      height: 424px;
      float: left; }
      .g-nav .nav-con .nav-img .nav-slide {
        position: relative;
        width: 100%; }
        .g-nav .nav-con .nav-img .nav-slide img {
          position: absolute;
          top: 30px;
          left: 0;
          width: 100%;
          display: none; }
    .g-nav .nav-con ul {
      width: 430px;
      padding-bottom: 120px;
      float: left; }
      .g-nav .nav-con ul li {
        list-style-type: none; }
        .g-nav .nav-con ul li a {
          text-decoration: none;
          color: #000;
          font-size: 2.4em;
          line-height: 2;
          -webkit-transition: color .25s ease;
          -moz-transition: color .25s ease;
          -ms-transition: color .25s ease;
          -o-transition: color .25s ease;
          transition: color .25s ease; }
          .g-nav .nav-con ul li a:hover {
            color: rgba(0, 0, 0, 0.6); }
  .g-nav footer {
    width: 100%;
    height: 180px;
    float: left;
    margin-top: 30px; }
    .g-nav footer .sns {
      text-align: center;
      width: 120px;
      margin: 0 auto;
      padding: 10px 0; }
      .g-nav footer .sns p {
        padding-bottom: 10px;
        font-size: 10px;
        text-align: center; }
      .g-nav footer .sns .icon {
        float: left;
        width: 40px;
        font-size: 25px;
        color: #000; }
    .g-nav footer #copy {
      text-align: center;
      padding-top: 30px;
      font-size: 10px;
      letter-spacing: 0.2em; }
      .g-nav footer #copy #c {
        font-size: 12px;
        margin-top: 3px; }

main {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  top: 0; }
  main .l-bar {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    height: 100%;
    line-height: 100vh;
    font-size: 2em;
    font-weight: bold;
    padding: 0 15px;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }
    main .l-bar:hover {
      background-color: rgba(255, 255, 255, 0.8);
      color: rgba(0, 0, 0, 0.3); }
  main .r-bar {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    height: 100%;
    line-height: 100vh;
    font-size: 2em;
    font-weight: bold;
    padding: 0 15px;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }
    main .r-bar:hover {
      background-color: rgba(255, 255, 255, 0.8);
      color: rgba(0, 0, 0, 0.3); }
  main .top {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0%;
    position: absolute;
    background-image: url(../img/youth_hattori.jpg);
    background-size: cover; }
    main .top .title-text {
      text-align: center; }
      main .top .title-text h1 {
        font-size: 4.5em;
        padding-top: 100px;
        width: 100%;
        font-family: kozG-M;
        letter-spacing: 0.04em;
        font-style: italic; }
      main .top .title-text h2 {
        padding-top: 50px;
        line-height: 2.5em;
        font-size: 1.3em;
        width: 100%;
        font-family: kozG-R; }
  main .eye {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    position: absolute;
    background-image: url(../img/youth_inada2.jpg);
    background-size: cover; }
    main .eye h3 {
      font-size: 1.3em;
      position: absolute;
      letter-spacing: 0.1em;
      top: 100px;
      left: 100px;
      font-family: KozG-B; }
      main .eye h3 #name {
        font-size: 1.4em; }
    main .eye h4 {
      position: absolute;
      bottom: 30px;
      left: 100px;
      letter-spacing: 0.1em;
      font-size: 1.5em;
      font-family: KozG-R; }
      main .eye h4 a {
        color: #000; }
        main .eye h4 a:hover {
          color: #fff; }
    main .eye p {
      width: 500px;
      box-sizing: border-box;
      padding: 30px;
      background-color: white;
      font-size: 0.9em;
      letter-spacing: 0;
      position: absolute;
      bottom: 30px;
      right: 100px;
      font-family: KozG-M; }
  main .stylist {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    position: absolute;
    background-image: url(../img/youth_hattori2.jpg);
    background-size: cover; }
    main .stylist h3 {
      font-size: 4em;
      position: absolute;
      letter-spacing: 0.1em;
      top: 100px;
      right: 100px;
      font-family: KozG-H; }
    main .stylist h4 {
      position: absolute;
      bottom: 30px;
      right: 100px;
      font-size: 1.5em; }
      main .stylist h4 a {
        color: #fff; }
        main .stylist h4 a:hover {
          color: #000; }
    main .stylist p {
      width: 500px;
      box-sizing: border-box;
      padding: 30px;
      background-color: rgba(255, 255, 255, 0.5);
      font-size: 0.9em;
      letter-spacing: 0;
      position: absolute;
      bottom: 30px;
      left: 100px;
      font-family: KozG-R; }
  main .dareka {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    position: absolute;
    background-image: url(../img/youth_hattori2.jpg);
    background-size: cover; }
  main h1 {
    font-size: 4em;
    position: absolute;
    top: 100px;
    left: 30px; }
  main h2 {
    position: absolute;
    bottom: 30px;
    left: 50px;
    font-size: 1.5em; }
    main h2 a {
      color: #000; }
  main p {
    width: 500px;
    box-sizing: border-box;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 0.9em;
    letter-spacing: 0.2em;
    position: absolute;
    bottom: 30px;
    right: 50px; }

/*# sourceMappingURL=youth.css.map */
