$white:#000;

@font-face{
	font-family: kozG-EL;
	src :url(../fonts_web/KozGoPro-ExtraLight.otf)format("opentype");
}
@font-face{
	font-family: kozG-H;
	src :url(../fonts_web/KozGoPro-Heavy.otf)format("opentype");
}
@font-face{
	font-family: kozG-L;
	src :url(../fonts_web/KozGoPro-Light.otf)format("opentype");
}
@font-face{
	font-family: kozG-M;
	src :url(../fonts_web/KozGoPro-Medium.otf)format("opentype");
}
@font-face{
	font-family: kozG-R;
	src :url(../fonts_web/KozGoPro-Regular.otf)format("opentype");
}
@font-face{
	font-family: kozG-B;
	src :url(../fonts_web/KozGoPro-Bold.otf)format("opentype");
}
@font-face{
	font-family: kozM-B;
	src :url(../fonts_web/KozMinPro-Bold.otf)format("opentype");
}
@font-face{
	font-family: kozM-EL;
	src :url(../fonts_web/KozMinPro-ExtraLight.otf)format("opentype");
}
@font-face{
	font-family: kozM-M;
	src :url(../fonts_web/KozMinPro-Medium.otf)format("opentype");
}
@font-face{
	font-family: kozM-R;
	src :url(../fonts_web/KozMinPro-Regular.otf)format("opentype");
}
@font-face{
	font-family: kozM-H;
	src :url(../fonts_web/KozMinPro-Heavy.otf)format("opentype");
}