
@import "settings";
@import "function";

*{
	margin: 0;
	padding: 0;
}

.container{
	width:950px;
	margin: 0 auto;
	overflow: hidden;
}

body{
	// background-image: url(../img/enjinai_logo.png);
	background-size: 100%;
	background-position: center center;
	font-family: KozG-R;
}

nav{
	position: fixed;
	top: 0;
	// background-color: rgba(216,216,216,0.88);
	// background-color: #d8d8d8;
	width: 100%;
	z-index: 30;
	height: 56px;
	background-color: #fff;
	box-shadow: 0px 0px 1px 1px #888;
	h3{
		text-align: center;
		padding-top: 8px;
	}
	.ham{
		display: inline-block;
		vertical-align: top;
		position: relative;
		width: 35px;
		height: 30px;
		float: right;
		right: 50px;
		top: -40px;
		cursor: pointer;
		.line{
			width: 35px;
			height: 4px;
			position: absolute;
			background-color: #000;
			border-radius: 20%;
		}
		.line1{
			top: 0;
			right: 0;
		}
		.line2{
			top: 8px;
			right: 0;
		}
		.line3{
			top: 16px;
			right: 0;
		}
		.line4{
			top: 24px;
			right: 0;
		}
	}
}

.g-nav{
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 25;
	background-color: rgba(255,255,255,0.9);
	box-sizing:border-box;
	padding-top: 100px;
	display: none;
	.nav-con{
		width: 900px;
		margin: 0 auto;
		.nav-img{
			width: 400px;
			margin-left: 70px;
			overflow: hidden;
			height: 424px;
			float: left;
			.nav-slide{
				position: relative;
				width: 100%;
				img{
					position: absolute;
					top: 30px;
					left: 0;
					width: 100%;	
					display: none;
				}
			}
		}
		ul{
			width: 430px;
			padding-bottom: 120px;
			float: left;
			li{
				list-style-type: none;
				a{
					text-decoration: none;
					color: #000;
					// font-weight: bold;
					font-size: 2.4em;
					line-height: 2;
					-webkit-transition: color .25s ease;
					   -moz-transition: color .25s ease;
					    -ms-transition: color .25s ease;
					     -o-transition: color .25s ease;
					        transition: color .25s ease;
					&:hover{
						color: rgba(0,0,0,0.6)
					}
				}
			}
		}
	}
	footer{
		width: 100%;
		height: 180px;
		float: left;
		margin-top: 30px;
		.sns{
			text-align: center;
			width: 120px;
			margin: 0 auto;
			padding: 10px 0;
			p{
				padding-bottom: 10px;
				font-size: 10px;
				text-align: center;
			}
			.icon{
				float: left;
				width: 40px;
				font-size: 25px;
				color: #000;
			}
			#follow{
				padding-top: 0;
			}
		}
		#copy{
			text-align: center;
			font-size: 10px;
			letter-spacing: 0.2em;
			#c{
				font-size: 12px;
				margin-top:3px; 
			}
		}
	}
}
main{
	.youth-hero{
		width: 100%;
		height: auto;
		margin-top: 56px;
		img{
			width: 100%;
		}
	}
	h1{
		text-align: center;
		margin-top: 40px;
	}
	p{
		text-align: center;
		color: #888;
		margin-bottom: 60px;
	}
	.container{
		p{
			text-align: left;
			color: #000;
			letter-spacing: 0.01em;
			line-height: 1.8;
			font-size: 0.9em;
			a{
				text-decoration: none;
			}
		}
		.share{
			height: 100px;
			overflow: hidden;
			// background-color: #000;
			margin-bottom: 40px;
			text-align: center;
		}
		h3{
			text-align: center;
			margin: 0 auto;
			width: 700px;
			font-size: 1.4em;
			margin-bottom: 50px;
		}
	}
}

footer{
	width: 100%;
	height: 180px;
	position: relative;
	h4{
		position: absolute;
		text-align: center;
		top: 0;
		left: 50%;
		margin-left: -25px;
		color: #fff;
		background-color: #000;
		width: 50px;
		height: 20px;
		font-size: 10px;
		font-weight: normal;
		cursor: pointer;
		a{
			text-decoration: none;
			color: #fff;
		}
	}
	.sns{
		text-align: center;
		width: 120px;
		margin: 0 auto;
		padding: 10px 0;
		p{
			padding-bottom: 10px;
		}
		.icon{
			float: left;
			width: 40px;
			font-size: 25px;
			color: #000;
		}
	}
	p{
		text-align: center;
		padding-top: 40px;
		font-size: 10px;
		letter-spacing: 0.2em;
		#c{
			font-size: 12px;
			margin-top:3px; 
		}
	}
}